testtest {
  base-color: hsl(32, 100%, 81%);
  base-color-1: hsl(32, 100%, 95%);
  base-color-2: hsl(32, 100%, 88%);
  base-color-3: hsl(32, 80%, 73%);
  base-color-4: hsl(32, 80%, 57%);
  base-color-5: hsl(32, 80%, 37%);
  color-0-0: hsl(32, 100%, 81%);
  color-0-1: hsl(32, 100%, 95%);
  color-0-2: hsl(32, 100%, 88%);
  color-0-3: hsl(32, 80%, 73%);
  color-0-4: hsl(32, 80%, 57%);
  color-0-5: hsl(32, 80%, 37%);
  color-1-0: hsl(352, 100%, 81%);
  color-1-1: hsl(352, 100%, 95%);
  color-1-2: hsl(352, 100%, 88%);
  color-1-3: hsl(352, 80%, 73%);
  color-1-4: hsl(352, 80%, 57%);
  color-1-5: hsl(352, 80%, 37%);
  color-2-0: hsl(212, 100%, 81%);
  color-2-1: hsl(212, 100%, 95%);
  color-2-2: hsl(212, 100%, 88%);
  color-2-3: hsl(212, 80%, 73%);
  color-2-4: hsl(212, 80%, 57%);
  color-2-5: hsl(212, 80%, 37%);
  color-3-0: hsl(122, 100%, 81%);
  color-3-1: hsl(122, 100%, 95%);
  color-3-2: hsl(122, 100%, 88%);
  color-3-3: hsl(122, 80%, 73%);
  color-3-4: hsl(122, 80%, 57%);
  color-3-5: hsl(122, 80%, 37%);
  color-light: hsl(32, 100%, 99.7%);
  color-gray: #808080;
  color-dark: hsl(32, 80%, 12%);
  color-warning: yellow;
  color-attention: red;
  color-back-body: hsl(32, 50%, 96%);
  color-border: hsl(32, 80%, 37%);
  color-border-light: hsl(32, 40%, 87%);
  color-back-toolbar: hsl(32, 100%, 98%);
  color-back-header: hsl(32, 100%, 95%);
  color-back-odd: hsl(32, 100%, 97.5%);
  color-back-even: hsl(32, 100%, 99.7%);
  color-back-hover: hsl(32, 100%, 98.7%);
  color-back-light: hsl(32, 100%, 99%);
}
