body {
  font-family: SourceSansPro, Arial, sans-serif;
  font-size: 0.15in;
  margin: 0;
  background-color: @color-back-body;
  padding-top: @header-height;
}

.flex-spacer {
  flex-grow: 100;
}

.right-text {
  text-align: right;
}

.centered-content {
  max-width: @max-content-width;
  margin-left: auto;
  margin-right: auto;
}

.t1 {
  font-size: 1.4em;
  font-weight: normal;
}
.t2 {
  font-size: 1.1em;
  font-weight: normal;
}
.t3 {
  font-size: 0.9em;
  font-weight: normal;
}

.text-dark {
  color: @color-text;
}
.text-light {
  color: @color-text-light;
}

@import "./card.less";
@import "./defs.less";
@import "./footer.less";
@import "./forms.less";
@import "./grid.less";
@import "./header.less";
@import "./layout.less";

