body {
  font-family: SourceSansPro, Arial, sans-serif;
  font-size: 0.15in;
  margin: 0;
  background-color: @color-light;
}

.flex-spacer {
  flex-grow: 100;
}

@import "./layout.less";
@import "./defs.less";
