@import "./palette.less";

@base-color-0: @base-color;
@base-color-1: lighten(@base-color, 14%);
@base-color-2: lighten(@base-color, 7%);
@base-color-3: desaturate(lighten(@base-color, -8%), 20%);
@base-color-4: desaturate(lighten(@base-color, -24%), 20%);
@base-color-5: desaturate(lighten(@base-color, -44%), 20%);

@color-0-0: @base-color-0;
@color-0-1: @base-color-1;
@color-0-2: @base-color-2;
@color-0-3: @base-color-3;
@color-0-4: @base-color-4;
@color-0-5: @base-color-5;

@color-1-0: spin(@base-color-0, @base-color-1-spin);
@color-1-1: spin(@base-color-1, @base-color-1-spin);
@color-1-2: spin(@base-color-2, @base-color-1-spin);
@color-1-3: spin(@base-color-3, @base-color-1-spin);
@color-1-4: spin(@base-color-4, @base-color-1-spin);
@color-1-5: spin(@base-color-5, @base-color-1-spin);

@color-2-0: spin(@base-color-0, @base-color-2-spin);
@color-2-1: spin(@base-color-1, @base-color-2-spin);
@color-2-2: spin(@base-color-2, @base-color-2-spin);
@color-2-3: spin(@base-color-3, @base-color-2-spin);
@color-2-4: spin(@base-color-4, @base-color-2-spin);
@color-2-5: spin(@base-color-5, @base-color-2-spin);

@color-3-0: spin(@base-color-0, @base-color-3-spin);
@color-3-1: spin(@base-color-1, @base-color-3-spin);
@color-3-2: spin(@base-color-2, @base-color-3-spin);
@color-3-3: spin(@base-color-3, @base-color-3-spin);
@color-3-4: spin(@base-color-4, @base-color-3-spin);
@color-3-5: spin(@base-color-5, @base-color-3-spin);



@color-light: lighten(@color-0-1, 4.7%);
@color-gray: #808080;
@color-dark: darken(@color-0-4, 45%);

@color-text: @color-dark;
@color-text-light: fade(@color-dark, 80%);

@color-warning: yellow;
@color-attention: red;

@color-back-body: desaturate(lighten(@color-0-1, 1%), 50%);


@color-border: @color-0-5;
@color-border-light: lighten(desaturate(@color-0-5, 40%), 50%);

@color-back-toolbar: lighten(@color-0-1, 3%);
@color-back-header: @color-0-1;
@color-back-odd: lighten(@color-0-1, 2.5%);
@color-back-even: lighten(@color-0-1, 4.7%);
@color-back-hover: lighten(@color-0-1, 3.7%);
@color-back-light: lighten(@color-0-1, 4%);

// header metrics
@header-height: 7em;
@footer-height: 1.6em;

@header-height: 3rem;
@header-margin-bottom: 0.5rem;

@sidebar-full-width: 12rem;
@sidebar-compact-width: 3rem;

@card-border-width: 0.15rem;
@card-corner-radius: 0.5rem;
@card-margin: 0.75rem;

@max-content-width: 60rem;


@small-size-limit: 600px;
@medium-size-limit: 950px;
@large-size-limit: 1200px;

@tile-min-width: 20rem;
@tile-max-width: 60rem;

@tile-title-height: 2.25rem;
@tile-grid-header-height: 1.15rem;