@header-tabs-background: lighten(@color-primary-5, 8%);

.header {
  background-color: @color-primary-5;
  color: @color-primary-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: white 0 0 1em;
  margin-bottom: 0.5em;
  height: 3rem;

  .header-menu {
    font-size: 1.9em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-right: 0.25em;
    user-select: none;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background-color: @color-primary-3;
    }
  }

  .header-title {
    font-weight: bold;
    font-size: 1.8em;
    margin-right: 0.5em;

    text-decoration: none;
    cursor: pointer;
    &:visited {
      color: unset;
    }
  }

  .tabs {
    display: flex;

    background-color: @header-tabs-background;
    min-height: 100%;
    //align-items: flex-end;

    .tab {
      margin-left: 0.5em;
      margin-right: 0.5em;
      padding-bottom: 1em;
      align-self: flex-end;
      padding-top: 0.4em;
      padding-bottom: 0.4em;

      cursor: pointer;
      user-select: none;
      text-decoration: none;

      color: @color-light;
      font-size: 1.2em;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: unset;
      }
    }

    .in-border {
      min-width: 1em;
      max-width: 1em;
      width: 1em;
      background: linear-gradient(
        to left,
        @header-tabs-background,
        @color-primary-5
      );
    }

    .out-border {
      min-width: 1em;
      max-width: 1em;
      width: 1em;
      background: linear-gradient(
        to left,
        @color-primary-5,
        @header-tabs-background
      );
    }
  }
}

.footer {
  display: none;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid @color-primary-5;
  box-shadow: @color-light 0 0 1em;
  background-color: @color-light;
  padding-top: 0.4em;
  padding-bottom: 0.4em;

  .tab {
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    font-size: 1.1em;
    color: @color-dark;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: unset;
    }
  }
}

@import "./defs.less";

@media (min-width: 300px) {
  .header {
    .header-menu {
      background-color: red;
    }

    .tabs {
      display: none;
    }

    .header-spacer {
      display: block;
      flex-grow: 10;
    }
  }
  .footer {
    display: flex;
  }
}

@media (min-width: 600px) {
  .header {
    .header-menu {
      background-color: @color-primary-5;
    }

    .tabs {
      display: flex;
    }
    .header-spacer {
      display: none;
    }
  }
  .footer {
    display: none;
  }
}
