@header-tabs-background: lighten(@color-0-5, 8%);

.header {
  background-color: @color-0-5;
  color: @color-0-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;

  height: @header-height;

  .header-menu {
    font-size: 1.9em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-right: 0.25em;
    user-select: none;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background-color: @color-0-3;
    }
  }

  .header-title {
    font-weight: bold;
    font-size: 1.8em;
    margin-right: 0.5em;

    text-decoration: none;
    cursor: pointer;
    &:visited {
      color: unset;
    }
  }

  .tabs {
    display: flex;

    background-color: @header-tabs-background;
    min-height: 100%;
    //align-items: flex-end;

    .tab {
      margin-left: 0.5em;
      margin-right: 0.5em;
      padding-bottom: 1em;
      align-self: flex-end;
      padding-top: 0.4em;
      padding-bottom: 0.4em;

      cursor: pointer;
      user-select: none;
      text-decoration: none;

      color: @color-light;
      font-size: 1.2em;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: unset;
      }
    }

    .in-border {
      min-width: 1em;
      max-width: 1em;
      width: 1em;
      background: linear-gradient(to left, @header-tabs-background, @color-0-5);
    }

    .out-border {
      min-width: 1em;
      max-width: 1em;
      width: 1em;
      background: linear-gradient(to left, @color-0-5, @header-tabs-background);
    }
  }
}

.footer {
  display: none;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid @color-0-5;
  box-shadow: @color-light 0 0 1em;
  background-color: @color-light;
  padding-top: 0.4em;
  padding-bottom: 0.4em;

  .tab {
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    font-size: 1.1em;
    color: @color-dark;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: unset;
    }
  }
}

@import "./defs.less";

.sidebar {
  position: fixed;
  top: @header-height;
  bottom: 0;
  left: 0;
  width: @sidebar-full-width;
  background: @color-1-5;
  z-index: 2;
  box-sizing: border-box;

  &:hover {
    width: @sidebar-full-width;
    box-shadow: 0.1rem 0 0.5rem gray;
  }
}

@media (max-width: @large-size-limit) {
  .cardspace {
    .csc-sidebar {
      width: @sidebar-compact-width;
      min-width: @sidebar-compact-width;
      max-width: @sidebar-compact-width;
    }
  }
  .sidebar {
    width: @sidebar-compact-width;
  }
  .footer {
    display: none;
  }
}

@media (max-width: @medium-size-limit) {
  .cardspace {
    .csc-side {
      display: none;
    }
  }
  .footer {
    display: none;
  }
}

@media (max-width: @small-size-limit) {
  .cardspace {
    .csc-sidebar {
      display: none;
    }
  }
  .sidebar {
    display: none;
  }
  .footer {
    display: flex;
  }
  .header {
    .header-menu {
      background-color: red;
    }

    .tabs {
      display: none;
    }

    .header-spacer {
      display: block;
      flex-grow: 10;
    }
  }
}
