


@media (max-width: @large-size-limit) {
  .footer {
    display: none;
  }
}

@media (max-width: @medium-size-limit) {
  .cardspace {
    .csc-content {
      flex-direction: column;
    }
  }
  .footer {
    display: none;
  }
}

@media (max-width: @small-size-limit) {
  .footer {
    display: flex;
  }
  .header {
    .header-menu {
      background-color: red;
    }

    .tabs {
      display: none;
    }

    .header-spacer {
      display: block;
      flex-grow: 10;
    }
  }
}

@import "./defs.less";
