@import "./defs.less";

testtest {
    color-primary-0: @color-primary-0;
    color-primary-1: @color-primary-1;
    color-primary-2: @color-primary-2;
    color-primary-3: @color-primary-3;
    color-primary-4: @color-primary-4;
    color-primary-5: @color-primary-5;
    color-alt3-0: @color-alt3-0;
    color-alt3-1: @color-alt3-1;
    color-alt3-2: @color-alt3-2;
    color-alt3-3: @color-alt3-3;
    color-alt3-4: @color-alt3-4;
    color-alt3-5: @color-alt3-5;
    color-alt-0: @color-alt-0;
    color-alt-1: @color-alt-1;
    color-alt-2: @color-alt-2;
    color-alt-3: @color-alt-3;
    color-alt-4: @color-alt-4;
    color-alt-5: @color-alt-5;
    color-alt2-0: @color-alt2-0;
    color-alt2-1: @color-alt2-1;
    color-alt2-2: @color-alt2-2;
    color-alt2-3: @color-alt2-3;
    color-alt2-4: @color-alt2-4;
    color-alt2-5: @color-alt2-5;
    color-light: @color-light;
    color-dark: @color-dark;
    color-warning: @color-warning;
    color-attention: @color-attention;
    actionbarColor: @actionbarColor;
    color-background-light: @color-background-light;
}